html {
  background-color: #182c37;
}

nav {
  display: flex;
  justify-content: center;
  gap: 10vw;
}

nav a {
  font-family: 'Amarante';
  color: #b83d02;
  font-size: 2vw;
  text-decoration: none;
}

.logo {
  font-size: 3vw;
}

nav a:hover {
  color: #FFF;
  text-decoration: underline;
}

footer {
  position: fixed;
  background-color: #234851;
  width: 100%;
  height: 3vw;
  left: 0;
  bottom: 0;
}

.foot {
  display: flex;
  justify-content: center;
}

.foot p {
  font-family: 'Alice';
  font-size: 1vw;
  color: #d47523;
  padding: 0 20px;
}
